@font-face {
    font-family: 'BR Firma';
    src: url('../fonts/BR Firma Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR Firma';
    src: url('../fonts/BR Firma Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'BR Firma', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    font-size: 1.1em;
    color: #333;
    font-weight: 400;
}

.btn {
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.get-started {
    font-size: 0.8rem;
    background-color: rgba(242, 107, 52, 1);
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
}


.hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    justify-items: end;
    background: #ffffff;
    padding-top: 30px;
}

.inner-bg {
    padding: 20px 5px 10px 40px;
}

.hero-text {
    width: 310px;
    align-self: flex-end;
    padding-bottom: 30px;
}

.hero-text h1 {
    font-size: 58px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.lead {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrows {
    display: flex;
    gap: 15px;
}

.arrow {
    font-size: 2rem;
    font-weight: 400;
}

.hero-images {
    grid-column: 3 / 6;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));
    width: 700px;
}

.image-block {
    background: #faf9f9;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #333;
}


.image-block:nth-child(1) {
    grid-column: 2 / 3;
}

.image-block:nth-child(2) {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    background: #f8b141;
}

.image-block:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    height: auto;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    background: rgba(6, 147, 165, .6);
}

.image-block:nth-child(4) {
    background: rgba(242, 107, 52, .6);
    grid-column: 2 / 3;
    font-size: 10px;
    display: flex;
    flex-flow: column wrap;
    color: rgb(15, 15, 15);

}

.image-block:nth-child(5) {}

.image-block:nth-child(6) {}

.image-block:nth-child(7) {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    background: rgba(75, 93, 115, .7);
}

.image-block:nth-child(8) {
    background: #fbd08d;
}

.image-block:nth-child(9) {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background: rgba(242, 107, 52, .6);
    font-size: 10px;
    display: flex;
    flex-flow: column wrap;
    color: rgb(15, 15, 15);
}

.image-block:nth-child(10) {
    background: #6abec9;
    border-bottom-left-radius: 99px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
}

.image-block:nth-child(11) {
    background: #f9c167;
    font-size: 14px;
    display: flex;
    flex-flow: column wrap;
    color: rgb(19, 18, 18);
}

.image-block:nth-child(12) {
    grid-column: 3 / 5;
    width: 100%;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.what-we-do {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: rgba(6, 147, 165, 1);
    ;
    color: #fff;
    position: relative;
    padding: 40px;
    width: 100%;
}




.what-we-do .text {
    width: 50%;
}

.what-we-do .asset {
    width: 550px;
}

.top-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 100px;
    height: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.what-we-do h2,
.why-us h2,
.co-owning h2 {
    font-size: 36px;
    margin-bottom: 20px;
    width: 450px;

}

.what-we-do p,
.why-us ul,
.co-owning ul {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}



.why-us ul,
.co-owning ul {
    list-style: none;
}

.why-us ul li,
.co-owning ul li {
    margin-bottom: 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.how-it-works {
    padding: 50px;
    text-align: center;
}

.how-it-works h2 {
    font-size: 36px;
    margin-bottom: 50px;
}


.steps {
    width: 890px;
    margin: 5px auto;
}

.why-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    margin: 65px auto;
    padding: 50px;
    background: #00626e;
    color: #fff;
    position: relative;
    border-radius: 10px;
}

@media (max-width: 1150px) {
    .why-us {
        max-width: 950px;
    }
}



.co-owning {
    padding: 50px;
    background: #26C6DA;
    color: #fff;
    position: relative;
}

.join-community {
    padding: 50px;
    text-align: center;
    background: #E1F5FE;
}

.join-community h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.join-community p {
    font-size: 18px;
    margin-bottom: 30px;
}

.join-us {
    background: #FF6F61;
    color: #fff;
}


.disclaimer {
    background-color: #ffdddd;
    padding: 10px;
    border: 1px solid #cc0000;
    margin: 20px 30px;
    font-size: 14px;
}